* {
  margin: 0;
  padding: 0;
}

body {
  main {
    width: 100vw;
    div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      form {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        width: 50vw;
        align-items: center;
      }
    }
  }
}
